<div class="col" style="color:#ffffff;">
    <h4>
        copyright &copy; Anmol Gupta
    </h4>
    <div>
        <h6>Contact Us</h6>
        <a href="https://www.instagram.com/anmol_41820/"><img class="footer-icon"
                src="assets/photos/instagram.png"></a>
        <a href="https://www.linkedin.com/in/anmol-gupta-280a69227/"><img class="footer-icon"
                src="assets/photos/linkedin.png"></a>
        <a href="https://www.youtube.com/@iitiansadda"><img class="footer-icon"
                src="assets/photos/youtube.png"></a>
        <a href="https://www.facebook.com/profile.php?id=100014508270612"><img class="footer-icon" src="assets/photos/facebook.png"></a>
        <a href="https://www.linkedin.com/in/anmol-gupta-280a69227/"><img class="footer-icon" src="assets/photos/twitter.png"></a>
    </div>
</div>