<table class="table caption-top">
    <caption>List of Assessments</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Assessment No.</th>
            <th scope="col">Assessment Date</th>
            <th scope="col">Assessment Time</th>
            <th scope="col">Question</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of arrAssessment">
            <th scope="row">{{a.id}}</th>
            <td>{{a.assessmentNo}}</td>
            <td>{{a.assessmentDate}}</td>
            <td>{{a.assessmentTime}}</td>
            <td>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse+a.id" aria-expanded="true" aria-controls="collapse+i.id">
                                Question {{a.question[0].id}}
                            </button>
                        </h2>
                        <div id="collapse+a.id" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-body">
                                                <h5 class="card-title">{{a.question[0].qText}}</h5>
                                                <p class="card-text">
                                                    <div class="options-container">
                                                        <div class="form-group form-check">
                                                            <input type="radio" class="form-check-input" name="singleOption">
                                                            <input type="text" class="form-control d-inline-block" style="width: 90%;"
                                                                placeholder="{{a.question[0].option[0]}}">
                                                        </div>
                                                        <div class="form-group form-check">
                                                            <input type="radio" class="form-check-input" name="singleOption">
                                                            <input type="text" class="form-control d-inline-block" style="width: 90%;"
                                                                placeholder="{{a.question[0].option[1]}}">
                                                        </div>
                                                        <div class="form-group form-check">
                                                            <input type="radio" class="form-check-input" name="singleOption">
                                                            <input type="text" class="form-control d-inline-block" style="width: 90%;"
                                                                placeholder="{{a.question[0].option[2]}}">
                                                        </div>
                                                        <div class="form-group form-check">
                                                            <input type="radio" class="form-check-input" name="singleOption">
                                                            <input type="text" class="form-control d-inline-block" style="width: 90%;"
                                                                placeholder="{{a.question[0].option[3]}}">
                                                        </div>
                                                    </div>
                                                <!-- </p> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>