<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form">
    <h2>Add Assessment</h2>
    <div class="mb-4">
        <label for="assessmentNoInput" class="form-label">Assessment No.</label>
        <input type="text" id="assessmentNoInput" class="form-control" name="assessmentNo"
            formControlName="assessmentNo">
        <div *ngIf="submitted && f['assessmentNo'].errors" class="">
            <div *ngIf="f['assessmentNo'].errors['required']" style="color:red">Assessment No. is required</div>
        </div>
    </div>
    <div class="mb-4">
        <label for="assessmentDateInput" class="form-label">Assessment Date</label>
        <input type="date" id="assessmentDateInput" class="form-control" name="assessmentDate"
            formControlName="assessmentDate">
        <div *ngIf="submitted && f['assessmentDate'].errors" class="">
            <div *ngIf="f['assessmentDate'].errors['required']" style="color:red">Assessment Date is required</div>
        </div>
    </div>
    <div class="mb-4">
        <label for="assessmentTimeInput" class="form-label">Assessment Time</label>
        <input type="text" id="assessmentTimeInput" class="form-control" name="assessmentTime"
            formControlName="assessmentTime">
        <div *ngIf="submitted && f['assessmentTime'].errors" class="">
            <div *ngIf="f['assessmentTime'].errors['required']" style="color:red">Assessment time is required</div>
        </div>
    </div>
    <div class="mb-4">
        <label for="facultyIdInput" class="form-label">Faculty Id</label>
        <input type="number" id="facultyIdInput" class="form-control" name="facultyId" formControlName="facultyId">
        <div *ngIf="submitted && f['facultyId'].errors" class="">
            <div *ngIf="f['facultyId'].errors['required']" style="color:red">Faculty Id is required</div>
        </div>
    </div>


    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Question Form</h5>
                <div class="">
                    <label for="questionText">Question:</label>
                    <input type="text" class="form-control" id="questionText" formControlName="questionText"
                        placeholder="Enter your question">
                    <div *ngIf="submitted && f['questionText'].errors" class="">
                        <div *ngIf="f['questionText'].errors['required']" style="color:red">Question is required</div>
                    </div>
                </div>
                <div class="">
                    <label for="questionType">Question Type:</label>
                    <select class="form-control" id="questionType" formControlName="questionType">
                        <option value="single">Single Correct</option>
                        <option value="multiple">Multiple Correct</option>
                    </select>
                    <div *ngIf="submitted && f['questionType'].errors" class="">
                        <div *ngIf="f['questionType'].errors['required']" style="color:red">Question Type is required</div>
                    </div>
                </div>
                <div class="options-container" *ngIf="myForm.get('questionType')?.value === 'single'">
                    <div class="form-group form-check" *ngFor="let option of options.controls; let i = index">
                        <input type="radio" class="form-check-input" name="singleOption">
                        <input type="text" class="form-control d-inline-block" style="width: 90%;" [formControlName]="i"
                            placeholder="Option {{i + 1}}">
                    </div>
                </div>
                <div class="options-container" *ngIf="myForm.get('questionType')?.value === 'multiple'">
                    <div class="form-group form-check" *ngFor="let option of options.controls; let i = index">
                        <input type="checkbox" class="form-check-input">
                        <input type="text" class="form-control d-inline-block" style="width: 90%;" [formControlName]="i"
                            placeholder="Option {{i + 1}}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <button type="submit" class="btn btn-primary">Add Assessment</button>
</form> -->



<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" (ngSubmit)="saveFirstStepData(firstFormGroup)">
            <ng-template matStepLabel>Add Assessment Details</ng-template>
            <mat-form-field class="col">
                <mat-label>Assessment No.</mat-label>
                <input matInput placeholder="Assessment No." formControlName="assessmentNo" required>
            </mat-form-field>
            <mat-form-field class="col">
                <mat-label>Assessment Date</mat-label>
                <input matInput placeholder="Assessment Date" formControlName="assessmentDate" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Assessment Time</mat-label>
                <input matInput placeholder="Assessment Time" formControlName="assessmentTime" required>
            </mat-form-field>
            <mat-form-field class="col">
                <mat-label>Faculty Id</mat-label>
                <input matInput placeholder="Faculty Id" formControlName="facultyId" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>


    <mat-step [stepControl]="secondFormGroup" label="Add Questions">

        <form class="basic-container" [formGroup]="itineryForm" (ngSubmit)="saveSecondStepData(itineryForm.value)">
            <!-- <mat-toolbar color="primary">
                Add/Remove multiple day itinery
            </mat-toolbar> -->
            <div formArrayName="itineries">
                <div class="row" *ngFor="let product of itineriesArr().controls; let i = index" [formGroupName]="i">


                    <mat-form-field class="col">
                        <mat-label>Question</mat-label>
                        <input matInput formControlName="question" placeholder="Question">
                    </mat-form-field>


                    <br>

                    <mat-form-field class="col">
                        <mat-label>Question Type</mat-label>
                        <mat-select [(value)]="selectedQuestionType[i]" (selectionChange)="checkType(i,selectedQuestionType[i])" formControlName="questionType" multiple>
                            <mat-option *ngFor="let type of QuestionType"
                                [value]="type">{{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <!-- <div *ngIf="arrCheck[i]===1">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1">True</mat-radio-button>
                            <mat-radio-button value="2">False</mat-radio-button>
                          </mat-radio-group>
                    </div> -->
                    <div *ngIf="arrCheck[i]===2">
                        <mat-form-field class="col">
                            <mat-label>Option 1</mat-label>
                            <input matInput formControlName="option1" placeholder="Option 1">
                        </mat-form-field>
                        <mat-form-field class="col">
                            <mat-label>Option 2</mat-label>
                            <input matInput formControlName="option2" placeholder="Option 2">
                        </mat-form-field>
                        <mat-form-field class="col">
                            <mat-label>Option 3</mat-label>
                            <input matInput formControlName="option3" placeholder="Option 3">
                        </mat-form-field>
                        <mat-form-field class="col">
                            <mat-label>Option 4</mat-label>
                            <input matInput formControlName="option4" placeholder="Option 4">
                        </mat-form-field>
                    </div>
                    <mat-form-field class="col">
                        <mat-label>Answer</mat-label>
                        <input matInput formControlName="answer" placeholder="Answer">
                    </mat-form-field>
                    

                    <div class="col-3">
                        <button class="float-left" mat-icon-button color="primary" aria-label="Remove/clear"
                            (click)="removeOrClearItinery(i)" matTooltip="Remove">
                            <mat-icon>highlight_off</mat-icon>
                        </button>
                        <button class="float-left" mat-icon-button color="primary" aria-label="Add"
                            (click)="addItineryFormGroup()" matTooltip="Add">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <button mat-button matStepperNext type="submit">Save</button>
            </div>
        </form>


        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>


    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>