<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">

            <div class="container-fluid">
                <div class="row text-center" style="margin:10px">
                    <div class="col assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/html.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/css.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/js.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center" style="margin:10px">
                    <div class="col assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/sql.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/go.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/php.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center" style="margin:10px">
                    <div class="col assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/kotlin.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/swift.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/r.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <br>
            <div class="carousel-caption d-none d-md-block">
                <h5>Page:1</h5>
            </div>
        </div>

        <div class="carousel-item" data-bs-interval="2000">

            <div class="container-fluid">
                <div class="row text-center" style="margin:10px">
                    <div class="col assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/c.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/c++.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/csh.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center" style="margin:10px">
                    <div class="col assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/pythonn.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/java.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/js.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center" style="margin:10px">
                    <div class="col assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/r.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/php.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center assessment-item">
                        <div class="card" style="width: 18rem;">
                            <img src="photos/rubyy.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and
                                    make
                                    up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <br>
            <div class="carousel-caption d-none d-md-block">
                <h5>Page:2</h5>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <button class="btn-primary" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="">Previous</span>
                </button>
            </li>
            <li><button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1">1</button></li>
            <li><button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2">2</button></li>
            <li><button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3">3</button></li>
            <li class="page-item">
                <button class="btn-secondary" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="">Next</span>
                </button>
            </li>
        </ul>
    </nav>
</div>

<!-- <div class="intro">
    <h3>ngIf</h3>
    <div *ngIf="true">I am a Div.</div>
    <div *ngIf="a>b"> a is greater then b</div>
    <div *ngIf="myFunc()">Visible if function return true</div>
</div> -->




<!-- <div>
    <div>
        my choice: {{choice}}
    </div>
    <div>
        <ul [ngSwitch] = "choice">
            <li *ngSwitchCase = "1">First</li>
            <li *ngSwitchCase = "2">second</li>
            <li *ngSwitchCase = "3">third</li>
            <li *ngSwitchCase = "4">Four</li>
            <li *ngSwitchCase = "5">Five</li>
            <li *ngSwitchDefault>This is Default</li>
        </ul>
    </div>
    <button class="btn btn-primary" (click)="nextChoice()">Next Choice</button>
</div> -->






<!-- <div>
    <div [ngClass]="{bordered:false}">Never</div>
    <div [ngClass]="{bordered:true}">Always</div>
    <div [ngClass]="{bordered: isBordered}">Alwayssssss</div>
</div>


<div [ngClass] = "classesObj">
    Using object var Border {{ classesObj.bordered ? "ON" : "OFF" }}
</div>
<button (click) = "toggleBorder()">Toggle</button> -->








<!-- <div class="row">
    <div class="col assessment-item" *ngFor="let a of arrAssessment">
        <div *ngIf="a.active==true" class="card" style="width: 18rem;">
            <img [src]="a.img" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{a.assessmentName}}</h5>
                <p class="card-text">
                    Id: {{a.id}}
                    <br>
                    About: {{a.assessmentContext}}
                </p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                <a href="#" class="btn btn-primary">View More</a>
            </div>
        </div>
    </div>
</div> -->